<%= form_with(model: keyword_mapping, url: admin_keyword_mappings_path) do |form| %>
  <% if keyword_mapping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(keyword_mapping.errors.count, "error") %> prohibited this keyword_mapping from being saved:</h2>

      <ul>
        <% keyword_mapping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :keyword, style: "display: block" %>
    <%= form.text_field :keyword %>
  </div>

  <div>
    <%= form.label :theme, style: "display: block" %>
    <%= form.text_field :theme %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
