<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>latitude:</strong>
    <%= store.latitude %>
  </p>

  <p>
    <strong>longitude:</strong>
    <%= store.longitude %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= l store.created_at, format: :long %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= l store.updated_at, format: :long %>
  </p>

</div>
