<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Lan:</strong>
    <%= store.lan %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= store.lon %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= store.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= store.updated_at %>
  </p>

</div>
