<p style="color: green"><%= notice %></p>

<%= render @machine %>

<div>
  <%= link_to "Edit this machine", edit_admin_machine_path(@machine) %> |
  <%= link_to "Back to machines", admin_machines_path %>

  <%= button_to "Destroy this machine", admin_machine_path(@machine), method: :delete %>
</div>
